/* Your CSS styles go here to control the website's appearance */

/*Example styles for the header and navigation */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 500px 0; 
    padding-right: 100px;
} 
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 125px;
    margin-bottom: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.img{
    padding-right:100px;
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.card{
    padding: 20px;
    box-shadow: rgba(300, 130, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
}

/* Example styles for the services section */
#services ul {
    display: flex;
    flex-wrap: wrap;
}

#services li {
    flex: 1;
    margin: 20px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

 


/* Additional CSS styles for the portfolio and other sections can be added as needed */
